@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');

*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
html * /* override x.xhtml.ru style */
{
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
  height: 12px;
  width: 6px;
}
*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
  background: linear-gradient(45deg, rgba(36,28,68,1) 0%, rgba(54,42,102,1) 90%, rgba(76,60,142,1) 100%);
}
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
  background-color: mediumpurple;
  border-radius: 5px;
}

html, body {
  min-height: 100%
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background: linear-gradient(45deg, rgba(36,28,68,1) 0%, rgba(54,42,102,1) 90%, rgba(76,60,142,1) 100%);
  color: white;
  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
