@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');

*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background: rgb(36,28,68);
  background: linear-gradient(45deg, rgba(36,28,68,1) 0%, rgba(54,42,102,1) 72%, rgba(76,60,142,1) 100%);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
